DATABASE_URL="postgresql://..."
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
SLACK_BOT_TOKEN=""
SLACK_DEFAULT_CHANNEL=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@example.com"
CRON_SECRET="generate-with-openssl-rand-base64-32"
BLOB_READ_WRITE_TOKEN=""
COMPANY_NAME="株式会社〇〇"
ALLOWED_EMAILS="user1@example.com,user2@example.com"
